.navigation-box{
    z-index: 10;
    position: absolute;
    top: 2vw;
    left: 2vw;
    height: auto;
    width: auto;
    background-color: rgb(var(--lighter-primary-color));
    box-shadow: 6px 7px 20px 10px rgba(0,0,0, 0.74);
    border: 5px solid rgb(var(--darker-primary-color));
    border-radius: 5px;
    transition: top 0.5s ease-in-out;
    aspect-ratio: 3/4;
}
.navigation-list{
    margin: 0px;
    height: auto;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.navigation-box li{
    font-size: .5vw;
    display: block;
    transition: background-color 0.2s ease;
    width: 100%;
    height: auto;
}
.navigation-box a{
    font-size: .5vw;
    display: block;
    padding: .25vw;
    transition: background-color 0.2s ease;
    width: 100%;
    height: auto;
}
.navigation-box li:hover{
    background-color: rgb(var(--lightest-primary-color));
}
.simple-underline{
    height: .1vw;
    width: 75%;
    margin-top: .15vw;
    margin-bottom: .15vw;
    background-color: rgb(var(--lightest-secondary-color));
    margin: auto;
}
.quaternary-underline{
    height: .1vw;
    width: 95%;
    margin-top: .15vw;
    margin-bottom: .15vw;
    background-color: rgb(var(--quaternary-color));
    margin: auto;
}
.navigation-title{
    text-align: center;
    font-size: .75vw;
    margin-top: .25vw;
    margin-bottom: .25vw;
    color: rgb(var(--secondary-color));
}